POCKETBASE_ADMIN_EMAIL=karigaishree@gmail.com
POCKETBASE_ADMIN_PASSWORD=1234@Rajathi
SMTP_HOST=smtp.hostinger.com
SMTP_PASSWORD=Bharu@2399
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contact@konipai.in
VITE_CRM_ORDER_ENDPOINT=https://crm-supabase.7za6uc.easypanel.host/functions/v1/create-order-karigai

VITE_GOOGLE_MAPS_API_KEY=AIzaSyDwLXGIw4fEOt3kZtbVPn_bpaLi3i9GDBo
VITE_POCKETBASE_URL=https://backend-karigaibackend.7za6uc.easypanel.host/
VITE_SITE_LOGO=https://konipai.in/assets/logo.png
VITE_SITE_TITLE=Konipai
VITE_ENABLE_GOOGLE_AUTH=false

VITE_RAZORPAY_KEY_SECRET =FauCbnVW39PSGgUrxmjvGYKw
VITE_RAZORPAY_KEY_ID=rzp_live_fLF4H9jFRln9kc

VITE_N8N_WEBHOOK_URL=https://backend-n8n.7za6uc.easypanel.host/webhook/karigaiorders
VITE_ENABLE_ADDRESS_AUTOCOMPLETE=false